<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SystemManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>login.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoyageurServlet</servlet-name>
    <servlet-class>ajoutEntite.VoyageurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyageurServlet</servlet-name>
    <url-pattern>/VoyageurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoyageServlet</servlet-name>
    <servlet-class>ajoutEntite.VoyageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyageServlet</servlet-name>
    <url-pattern>/VoyageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletVoyage</servlet-name>
    <servlet-class>voyage.ServletVoyage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVoyage</servlet-name>
    <url-pattern>/ServletVoyage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionVoyageServlet</servlet-name>
    <servlet-class>ajoutEntite.GestionVoyageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionVoyageServlet</servlet-name>
    <url-pattern>/GestionVoyageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModerateurServlet</servlet-name>
    <servlet-class>ajoutEntite.ModerateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModerateurServlet</servlet-name>
    <url-pattern>/ModerateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertModeratorServlet</servlet-name>
    <servlet-class>ajoutEntite.InsertModeratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertModeratorServlet</servlet-name>
    <url-pattern>/InsertModerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoyageServletView</servlet-name>
    <servlet-class>ajoutEntite.VoyageServletView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyageServletView</servlet-name>
    <url-pattern>/VoyageServletView</url-pattern>
  </servlet-mapping>
</web-app>